
body{
    background-color:beige;
}
h1{
    text-align: center;

}

li a{
    color:#c1121f; 
}
.bot{
    color:black
}
h1 + p {
    color:maroon;
}
button {
    background-color:#cdb4db;
}
footer > a {
    color:#ffb703;
} 
input[type="password"]{
    color:#ffb703;
}
button:hover{
    background-color:#ff006e;
}
a{
    font-weight:700

}
button:hover{
color:#4361ee;
transition: 1s;
border-radius:50%;
}

#one {
    color:#710000;
    background-color:#f4e409;
    border-width:5px;
    border-color:black;
    border-style:solid;
}
.tag {
    color:#007151;
    background-color:#f409b9;
    border-width:5px;
    width:100px;
}
#padding{
    padding:20px
    margin-top:100px;
}
#mast{
    border-width:5px;
    border-color:black;
    border-style:solid;
    padding:2em;
    margin:3em;
    font-size:1em;
border-radius:2em;

}

#opacity{
    background-color:rgba(255,255,255,0.3);
    font-size:2rem;
    border-width:1rem;
    border-color:black;
    border-style:solid;
    padding:2rem;
    opacity: 0.5; 
}
#position{
    background-color:#a3b18a;
    position:sticky;
    top:50px;
    left:100px;
    bottom:500px;
}
#position1{
    
    position:relative;
    top:50px;
    left:100px;
    bottom:100px;
}
#transition{
    background-color:rgba(255,255,255,0.3);
    font-size:2rem;
    border-width:1rem;
    border-color:black;
    border-style:solid;
    padding:2rem;
    opacity: 0.5; 
}
#transition:hover{
    background-color:cyan;
    border-radius:50%;
    margin-left: 1000px;
    transition: background-color 2s, border-radius 3s,margin-left 3s 2s

}
#square div{
    height:100px;
    width :100px;
    background-color:#540b0e;
    margin:20px;
}
#square:hover div{
    background-color:greenyellow;
    margin-left: 1000px;
    transition:background-color 2s, margin-left 3s 2s
}
#transform{
    background-color
}
background-image    